In [ ]:
import pandas as pd

# Data Clean

## Audit Rates

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/propublica/auditData/master/data/cleaned/auditsData_2019.04.03.csv')

In [ ]:
df

       fips                        name  ... audit_rate  audit_rate_trunk
0      1001     Autauga County, Alabama  ...   7.575917          7.575917
1      1003     Baldwin County, Alabama  ...   7.815388          7.815388
2      1005     Barbour County, Alabama  ...   9.127789          9.127789
3      1007        Bibb County, Alabama  ...   8.165829          8.165829
4      1009      Blount County, Alabama  ...   7.650335          7.650335
...     ...                         ...  ...        ...               ...
3136  56037  Sweetwater County, Wyoming  ...   6.803202          6.803202
3137  56039       Teton County, Wyoming  ...   7.721541          7.721541
3138  56041       Uinta County, Wyoming  ...   7.085775          7.085775
3139  56043    Washakie County, Wyoming  ...   6.948831          6.948831
3140  56045      Weston County, Wyoming  ...   7.244212          7.244212

[3141 rows x 7 columns]

In [60]:
df.to_csv('audit_data.csv', index = False)

In [ ]:
df[df['audit_rate'] != df['audit_rate_trunk']]

       fips                              name  ... audit_rate  audit_rate_trunk
67     2013    Aleutians East Borough, Alaska  ...   5.808081               6.0
71     2060       Bristol Bay Borough, Alaska  ...   3.271028               6.0
72     2068            Denali Borough, Alaska  ...   5.627706               6.0
89     2230      Skagway Municipality, Alaska  ...   5.901639               6.0
94     2282  Yakutat City and Borough, Alaska  ...   2.586207               6.0
...     ...                               ...  ...        ...               ...
2718  48393             Roberts County, Texas  ...   3.750000               6.0
2737  48431            Sterling County, Texas  ...   4.237288               6.0
2743  48443             Terrell County, Texas  ...   3.870968               6.0
2780  49009              Daggett County, Utah  ...   2.339181               6.0
2791  49031                Piute County, Utah  ...   5.339806               6.0

[63 rows x 7 columns]

## Demographic

In [ ]:
dfg = pd.read_csv('cc-est2019-alldata.csv',  encoding = "ISO-8859-1")

In [ ]:
dfg

        SUMLEV  STATE  COUNTY  ... HAAC_FEMALE HNAC_MALE  HNAC_FEMALE
0           50      1       1  ...          11        19           10
1           50      1       1  ...           0         2            1
2           50      1       1  ...           3         2            0
3           50      1       1  ...           1         1            1
4           50      1       1  ...           1         3            1
...        ...    ...     ...  ...         ...       ...          ...
716371      50     56      45  ...           0         0            0
716372      50     56      45  ...           0         0            0
716373      50     56      45  ...           0         0            0
716374      50     56      45  ...           0         0            0
716375      50     56      45  ...           0         0            0

[716376 rows x 80 columns]

In [ ]:
dfg[dfg['YEAR'] == 1.0]['TOT_POP'].sum()

210404186.0

In [ ]:
dfg[(dfg['STNAME'] == 'Utah') & (dfg['CTYNAME'] == 'Piute County')]

        SUMLEV  STATE  COUNTY  ... HAAC_FEMALE HNAC_MALE  HNAC_FEMALE
636576      50     49      31  ...           0         0            0
636577      50     49      31  ...           0         0            0
636578      50     49      31  ...           0         0            0
636579      50     49      31  ...           0         0            0
636580      50     49      31  ...           0         0            0
...        ...    ...     ...  ...         ...       ...          ...
636799      50     49      31  ...           0         0            0
636800      50     49      31  ...           0         0            0
636801      50     49      31  ...           0         0            0
636802      50     49      31  ...           0         0            0
636803      50     49      31  ...           0         0            0

[228 rows x 80 columns]

In [ ]:
len(dfg['STNAME'].unique())

51

In [21]:
dfg1215 = dfg[dfg['YEAR'].isin([5,6,7,8])]
dfg1215

        SUMLEV  STATE  COUNTY  ... HAAC_FEMALE HNAC_MALE  HNAC_FEMALE
76          50      1       1  ...          10        21            5
77          50      1       1  ...           1         1            0
78          50      1       1  ...           2         2            0
79          50      1       1  ...           0         5            0
80          50      1       1  ...           1         2            0
...        ...    ...     ...  ...         ...       ...          ...
716295      50     56      45  ...           0         0            0
716296      50     56      45  ...           0         0            0
716297      50     56      45  ...           0         0            0
716298      50     56      45  ...           0         0            0
716299      50     56      45  ...           0         0            0

[238792 rows x 80 columns]

In [52]:
dfg15 = dfg[(dfg['YEAR'] == 8) & (dfg['AGEGRP'] == 0)]
dfg15

        SUMLEV  STATE  COUNTY  ... HAAC_FEMALE HNAC_MALE  HNAC_FEMALE
133         50      1       1  ...          22        15           14
361         50      1       3  ...          44        39           25
589         50      1       5  ...           0        12            9
817         50      1       7  ...           2        18            4
1045        50      1       9  ...          14        25           21
...        ...    ...     ...  ...         ...       ...          ...
715369      50     56      37  ...          39        18           10
715597      50     56      39  ...          14        15            7
715825      50     56      41  ...           7         8            0
716053      50     56      43  ...           8         7            7
716281      50     56      45  ...           4         4            3

[3142 rows x 80 columns]

In [53]:
dfg15['TOT_POP'].sum()

320635163

In [55]:
dfg15['WP'] = dfg15['WA_MALE'] + dfg15['WA_FEMALE'] 
dfg15

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

        SUMLEV  STATE  COUNTY  ... HNAC_MALE HNAC_FEMALE      WP
133         50      1       1  ...        15          14   42650
361         50      1       3  ...        39          25  177081
589         50      1       5  ...        12           9   13088
817         50      1       7  ...        18           4   17251
1045        50      1       9  ...        25          21   55268
...        ...    ...     ...  ...       ...         ...     ...
715369      50     56      37  ...        18          10   42180
715597      50     56      39  ...        15           7   22012
715825      50     56      41  ...         8           0   19865
716053      50     56      43  ...         7           7    7847
716281      50     56      45  ...         4           3    6835

[3142 rows x 81 columns]

In [56]:
dfg15 = dfg15[['SUMLEV', 'STATE', 'COUNTY', 'STNAME', 'CTYNAME', 'TOT_POP', 'WP']]
dfg15

        SUMLEV  STATE  COUNTY   STNAME            CTYNAME  TOT_POP      WP
133         50      1       1  Alabama     Autauga County    54864   42650
361         50      1       3  Alabama     Baldwin County   202939  177081
589         50      1       5  Alabama     Barbour County    26283   13088
817         50      1       7  Alabama        Bibb County    22566   17251
1045        50      1       9  Alabama      Blount County    57526   55268
...        ...    ...     ...      ...                ...      ...     ...
715369      50     56      37  Wyoming  Sweetwater County    44719   42180
715597      50     56      39  Wyoming       Teton County    23047   22012
715825      50     56      41  Wyoming       Uinta County    20763   19865
716053      50     56      43  Wyoming    Washakie County     8278    7847
716281      50     56      45  Wyoming      Weston County     7208    6835

[3142 rows x 7 columns]

In [58]:
dfg15['nwpp'] = 1 - (dfg15['WP'] / dfg15['TOT_POP'])
dfg15

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

        SUMLEV  STATE  COUNTY  ... TOT_POP      WP      nwpp
133         50      1       1  ...   54864   42650  0.222623
361         50      1       3  ...  202939  177081  0.127418
589         50      1       5  ...   26283   13088  0.502036
817         50      1       7  ...   22566   17251  0.235531
1045        50      1       9  ...   57526   55268  0.039252
...        ...    ...     ...  ...     ...     ...       ...
715369      50     56      37  ...   44719   42180  0.056777
715597      50     56      39  ...   23047   22012  0.044908
715825      50     56      41  ...   20763   19865  0.043250
716053      50     56      43  ...    8278    7847  0.052066
716281      50     56      45  ...    7208    6835  0.051748

[3142 rows x 8 columns]

In [59]:
dfg15.to_csv('demographic_bycounty.csv')

## Poverty

In [119]:
dfp = pd.read_csv('Poverty Data County Level.csv')

In [120]:
dfp

      Year  ...  90% Confidence Interval (Median Household Income in Dollars)
0     2015  ...                                 $55,690 to $55,860
1     2015  ...                                 $44,110 to $45,556
2     2015  ...                                 $51,459 to $61,701
3     2015  ...                                 $49,865 to $54,909
4     2015  ...                                 $28,622 to $34,244
...    ...  ...                                                ...
3189  2015  ...                                 $66,280 to $77,454
3190  2015  ...                                 $75,090 to $91,490
3191  2015  ...                                 $57,025 to $68,911
3192  2015  ...                                 $50,858 to $61,318
3193  2015  ...                                 $54,751 to $67,221

[3194 rows x 44 columns]

In [121]:
dfp['st_code'] = dfp['County ID'].astype('string').str[:-3].astype('int')

ValueError: ignored

In [122]:
dfp['cty_code'] = dfp['County ID'].astype('string').str[-3:].astype('int')

## Unemployment

In [134]:
dfu = pd.read_csv('GeoFRED_Unemployment_Rate_by_County_Percent.csv')

In [135]:
dfu

       Series ID           Region Name  Region Code  ...  2016  2017  2018
0     SCABBE1URN  Abbeville County, SC        45001  ...   5.5   4.6   4.2
1     LAACAD0URN     Acadia Parish, LA        22001  ...   7.4   5.9   5.4
2     VAACCO1URN   Accomack County, VA        51001  ...   5.0   4.9   4.1
3     IDADAC1URN        Ada County, ID        16001  ...   3.3   2.8   2.4
4     OKADAI1URN      Adair County, OK        40001  ...   5.9   5.0   4.4
...          ...                   ...          ...  ...   ...   ...   ...
3131  COYUMA5URN       Yuma County, CO         8125  ...   2.1   1.6   2.0
3132  AZYUMA0URN       Yuma County, AZ         4027  ...  18.7  17.0  16.9
3133  TXZAPA5URN     Zapata County, TX        48505  ...  10.8   7.3   5.4
3134  TXZAVA7URN     Zavala County, TX        48507  ...  13.9  11.1   9.7
3135  SDZIEB7URN    Ziebach County, SD        46137  ...   4.5   5.2   5.0

[3136 rows x 22 columns]

In [136]:
dfu['st_code'] = dfu['Region Code'].astype('string').str[:-3].astype('int')

In [137]:
dfu['cty_code'] = dfu['Region Code'].astype('string').str[-3:].astype('int')

In [141]:
dfu = dfu[['Region Name', 'Region Code', '2015', 'st_code', 'cty_code']]
dfu = dfu.rename(columns={'2015': 'unemployment rate'})

## Income

In [147]:
dfi = pd.read_csv('acs2015_county_data.csv' )

In [148]:
dfi

      CensusId        State     County  ...  SelfEmployed  FamilyWork  Unemployment
0         1001      Alabama    Autauga  ...           5.5         0.0           7.6
1         1003      Alabama    Baldwin  ...           5.8         0.4           7.5
2         1005      Alabama    Barbour  ...           7.3         0.1          17.6
3         1007      Alabama       Bibb  ...           6.7         0.4           8.3
4         1009      Alabama     Blount  ...           4.2         0.4           7.7
...        ...          ...        ...  ...           ...         ...           ...
3215     72145  Puerto Rico  Vega Baja  ...           4.1         0.0          15.2
3216     72147  Puerto Rico    Vieques  ...          13.6         0.3          12.2
3217     72149  Puerto Rico   Villalba  ...          13.1         0.2          25.9
3218     72151  Puerto Rico    Yabucoa  ...           7.3         0.0          24.3
3219     72153  Puerto Rico      Yauco  ...           4.4         0.0          27.1

[3220 rows x 37 columns]

## Merge

In [168]:
dfmm = dfa.merge(dfi, how = 'left', left_on='fips', right_on='CensusId').dropna()
dfmm

       fips                        name  ... FamilyWork  Unemployment
0      1001     Autauga County, Alabama  ...        0.0           7.6
1      1003     Baldwin County, Alabama  ...        0.4           7.5
2      1005     Barbour County, Alabama  ...        0.1          17.6
3      1007        Bibb County, Alabama  ...        0.4           8.3
4      1009      Blount County, Alabama  ...        0.4           7.7
...     ...                         ...  ...        ...           ...
3136  56037  Sweetwater County, Wyoming  ...        0.0           5.4
3137  56039       Teton County, Wyoming  ...        0.0           2.6
3138  56041       Uinta County, Wyoming  ...        0.0           4.4
3139  56043    Washakie County, Wyoming  ...        0.5           6.8
3140  56045      Weston County, Wyoming  ...        1.3           5.2

[3138 rows x 44 columns]

In [152]:
dfmm.to_csv('audit-demographics-merged.csv', index = False)

# Model

In [184]:
dfmm['Male_Percentage'] = dfmm['Men'] / (dfmm['Men'] + dfmm['Women'])
dfmm

       fips                        name  ... Unemployment  Male_Percentage
0      1001     Autauga County, Alabama  ...          7.6         0.484327
1      1003     Baldwin County, Alabama  ...          7.5         0.488487
2      1005     Barbour County, Alabama  ...         17.6         0.538282
3      1007        Bibb County, Alabama  ...          8.3         0.534109
4      1009      Blount County, Alabama  ...          7.7         0.494056
...     ...                         ...  ...          ...              ...
3136  56037  Sweetwater County, Wyoming  ...          5.4         0.521732
3137  56039       Teton County, Wyoming  ...          2.6         0.517099
3138  56041       Uinta County, Wyoming  ...          4.4         0.508170
3139  56043    Washakie County, Wyoming  ...          6.8         0.493333
3140  56045      Weston County, Wyoming  ...          5.2         0.516639

[3138 rows x 45 columns]

In [186]:
# X = dfmm.drop(columns = ['fips', 'name', 'state', 'CensusId', 'State', 'County', 'audit_rate'], axis

X = dfmm[['Male_Percentage', 'Hispanic', 'White', 'Black', 'Native', 'Asian', 'Pacific', 'Citizen', 'Income']]

In [187]:
y = dfmm['audit_rate']
y

0       7.575917
1       7.815388
2       9.127789
3       8.165829
4       7.650335
          ...
3136    6.803202
3137    7.721541
3138    7.085775
3139    6.948831
3140    7.244212
Name: audit_rate, Length: 3138, dtype: float64

In [188]:
import statsmodels.api as sm

mod = sm.OLS(y, X)

In [189]:
res = mod.fit()

In [190]:
res.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:             audit_rate   R-squared (uncentered):                   0.991
Model:                            OLS   Adj. R-squared (uncentered):              0.991
Method:                 Least Squares   F-statistic:                          3.865e+04
Date:                Sat, 22 May 2021   Prob (F-statistic):                        0.00
Time:                        16:16:22   Log-Likelihood:                         -3489.6
No. Observations:                3138   AIC:                                      6997.
Df Residuals:                    3129   BIC:                                      7052.
Df Model:                           9
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Male_Percentage    -0.4521      0.538     -0.841      0.401      -1.507       0.602
Hispanic            0.1041      0.003     34.611      0.000       0.098       0.110
White               0.0909      0.003     32.702      0.000       0.085       0.096
Black               0.1197      0.003     42.829      0.000       0.114       0.125
Native              0.1151      0.004     32.223      0.000       0.108       0.122
Asian               0.1276      0.008     16.183      0.000       0.112       0.143
Pacific             0.1670      0.039      4.268      0.000       0.090       0.244
Citizen         -3.872e-08   7.43e-08     -0.521      0.602   -1.84e-07    1.07e-07
Income          -3.042e-05   1.28e-06    -23.681      0.000   -3.29e-05   -2.79e-05
==============================================================================
Omnibus:                     2339.049   Durbin-Watson:                   1.749
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            87318.130
Skew:                          -3.141   Prob(JB):                         0.00
Kurtosis:                      28.067   Cond. No.                     9.00e+06
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large,  9e+06. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

# EDA

In [149]:
dfa = pd.read_csv('audit_data.csv')
dfd = pd.read_csv('demographic_bycounty.csv')

In [95]:
dfa

       fips                        name  ... audit_rate  audit_rate_trunk
0      1001     Autauga County, Alabama  ...   7.575917          7.575917
1      1003     Baldwin County, Alabama  ...   7.815388          7.815388
2      1005     Barbour County, Alabama  ...   9.127789          9.127789
3      1007        Bibb County, Alabama  ...   8.165829          8.165829
4      1009      Blount County, Alabama  ...   7.650335          7.650335
...     ...                         ...  ...        ...               ...
3136  56037  Sweetwater County, Wyoming  ...   6.803202          6.803202
3137  56039       Teton County, Wyoming  ...   7.721541          7.721541
3138  56041       Uinta County, Wyoming  ...   7.085775          7.085775
3139  56043    Washakie County, Wyoming  ...   6.948831          6.948831
3140  56045      Weston County, Wyoming  ...   7.244212          7.244212

[3141 rows x 7 columns]

In [96]:
dfa['st_code'] = dfa['fips'].astype('string').str[:-3].astype('int')

In [97]:
dfa['cty_code'] = dfa['fips'].astype('string').str[-3:].astype('int')

In [100]:
dfd

      Unnamed: 0  SUMLEV  STATE  ...  TOT_POP      WP      nwpp
0            133      50      1  ...    54864   42650  0.222623
1            361      50      1  ...   202939  177081  0.127418
2            589      50      1  ...    26283   13088  0.502036
3            817      50      1  ...    22566   17251  0.235531
4           1045      50      1  ...    57526   55268  0.039252
...          ...     ...    ...  ...      ...     ...       ...
3137      715369      50     56  ...    44719   42180  0.056777
3138      715597      50     56  ...    23047   22012  0.044908
3139      715825      50     56  ...    20763   19865  0.043250
3140      716053      50     56  ...     8278    7847  0.052066
3141      716281      50     56  ...     7208    6835  0.051748

[3142 rows x 9 columns]

In [102]:
dfd.drop('Unnamed: 0',axis= 1,  inplace=True)
dfd

      SUMLEV  STATE  COUNTY  ... TOT_POP      WP      nwpp
0         50      1       1  ...   54864   42650  0.222623
1         50      1       3  ...  202939  177081  0.127418
2         50      1       5  ...   26283   13088  0.502036
3         50      1       7  ...   22566   17251  0.235531
4         50      1       9  ...   57526   55268  0.039252
...      ...    ...     ...  ...     ...     ...       ...
3137      50     56      37  ...   44719   42180  0.056777
3138      50     56      39  ...   23047   22012  0.044908
3139      50     56      41  ...   20763   19865  0.043250
3140      50     56      43  ...    8278    7847  0.052066
3141      50     56      45  ...    7208    6835  0.051748

[3142 rows x 8 columns]

In [81]:
dfa

       fips                        name  ... st_code  cty_code
0      1001     Autauga County, Alabama  ...       1         1
1      1003     Baldwin County, Alabama  ...       1         3
2      1005     Barbour County, Alabama  ...       1         5
3      1007        Bibb County, Alabama  ...       1         7
4      1009      Blount County, Alabama  ...       1         9
...     ...                         ...  ...     ...       ...
3136  56037  Sweetwater County, Wyoming  ...      56        37
3137  56039       Teton County, Wyoming  ...      56        39
3138  56041       Uinta County, Wyoming  ...      56        41
3139  56043    Washakie County, Wyoming  ...      56        43
3140  56045      Weston County, Wyoming  ...      56        45

[3141 rows x 9 columns]

In [103]:
dfm = dfa.merge(dfd, how = 'left', left_on = ['st_code', 'cty_code'], right_on= ['STATE', 'COUNTY'] )
dfm

       fips                        name    state  ...   TOT_POP        WP      nwpp
0      1001     Autauga County, Alabama  Alabama  ...   54864.0   42650.0  0.222623
1      1003     Baldwin County, Alabama  Alabama  ...  202939.0  177081.0  0.127418
2      1005     Barbour County, Alabama  Alabama  ...   26283.0   13088.0  0.502036
3      1007        Bibb County, Alabama  Alabama  ...   22566.0   17251.0  0.235531
4      1009      Blount County, Alabama  Alabama  ...   57526.0   55268.0  0.039252
...     ...                         ...      ...  ...       ...       ...       ...
3136  56037  Sweetwater County, Wyoming  Wyoming  ...   44719.0   42180.0  0.056777
3137  56039       Teton County, Wyoming  Wyoming  ...   23047.0   22012.0  0.044908
3138  56041       Uinta County, Wyoming  Wyoming  ...   20763.0   19865.0  0.043250
3139  56043    Washakie County, Wyoming  Wyoming  ...    8278.0    7847.0  0.052066
3140  56045      Weston County, Wyoming  Wyoming  ...    7208.0    6835.0  0.051748

[3141 rows x 17 columns]

In [107]:
dfm.dropna(inplace=True)

In [108]:
import statsmodels.api as sm

mod = sm.OLS(dfm['audit_rate'],  dfm['nwpp'])

In [109]:
res = mod.fit()

In [110]:
res.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:             audit_rate   R-squared (uncentered):                   0.513
Model:                            OLS   Adj. R-squared (uncentered):              0.513
Method:                 Least Squares   F-statistic:                              3311.
Date:                Sat, 22 May 2021   Prob (F-statistic):                        0.00
Time:                        14:55:01   Log-Likelihood:                         -9767.4
No. Observations:                3139   AIC:                                  1.954e+04
Df Residuals:                    3138   BIC:                                  1.954e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
nwpp          25.2776      0.439     57.545      0.000      24.416      26.139
==============================================================================
Omnibus:                     1052.602   Durbin-Watson:                   0.568
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             3078.851
Skew:                          -1.760   Prob(JB):                         0.00
Kurtosis:                       6.339   Cond. No.                         1.00
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [112]:
dfm.audit_rate.mean()

7.728784140294767

In [111]:
dfm[dfm['nwpp'] > .5]

       fips                         name  ...        WP      nwpp
2      1005      Barbour County, Alabama  ...   13088.0  0.502036
5      1011      Bullock County, Alabama  ...    2737.0  0.736827
23     1047       Dallas County, Alabama  ...   11593.0  0.716802
31     1063       Greene County, Alabama  ...    1478.0  0.826281
32     1065         Hale County, Alabama  ...    6120.0  0.592408
...     ...                          ...  ...       ...       ...
2937  51710       Norfolk city, Virginia  ...  121121.0  0.508551
2939  51730    Petersburg city, Virginia  ...    5688.0  0.821648
2941  51740    Portsmouth city, Virginia  ...   39776.0  0.587112
2943  51760      Richmond city, Virginia  ...   98589.0  0.553605
3085  55078  Menominee County, Wisconsin  ...     522.0  0.884232

[171 rows x 17 columns]

In [117]:
dfm[dfm['CTYNAME'] == 'Los Angeles']

Empty DataFrame
Columns: [fips, name, state, Number_of_returns, estimated_exams, audit_rate, audit_rate_trunk, st_code, cty_code, SUMLEV, STATE, COUNTY, STNAME, CTYNAME, TOT_POP, WP, nwpp]
Index: []

In [142]:
dfm.merge(dfu, how = 'left', on = ['st_code', 'cty_code'])

       fips                        name  ... Region Code  unemployment rate
0      1001     Autauga County, Alabama  ...      1001.0                5.2
1      1003     Baldwin County, Alabama  ...      1003.0                5.5
2      1005     Barbour County, Alabama  ...      1005.0                8.9
3      1007        Bibb County, Alabama  ...      1007.0                6.6
4      1009      Blount County, Alabama  ...      1009.0                5.4
...     ...                         ...  ...         ...                ...
3134  56037  Sweetwater County, Wyoming  ...     56037.0                4.7
3135  56039       Teton County, Wyoming  ...     56039.0                4.0
3136  56041       Uinta County, Wyoming  ...     56041.0                5.0
3137  56043    Washakie County, Wyoming  ...     56043.0                4.2
3138  56045      Weston County, Wyoming  ...     56045.0                3.4

[3139 rows x 20 columns]